/*
Table of Contents



*/

html{
	scroll-behavior: smooth;
}
body{
	background: linear-gradient(270deg, #B391C4 0%, rgba(255, 255, 255, 0) 100%), #384573;	
}


/* =====================================================
	NavBar
=======================================================*/


.navcor{
	background-color: transparent;

}
.rcorners{
	border-radius: 30px 30px 30px 30px;	
}

.navsize{
	height: 40px;
}
.navtextcolor{
	color: black;	
}

/*======================================================
	Wrapper Settings
========================================================*/

.boximage{
	position: relative;
	height: 462.02px;
	background-image: url('img/4.png');
	background-size: 500px;
	transform: rotate(0.14deg);
	grid-column: 1/2;
	grid-row: 1/3;
}
.formacao{
	
	background-color: #4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
	padding: 100px;
}

.diploma{
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}

.sobre{
	grid-column: 4/5;
	grid-row: 1/3;
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}
.competencia{
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}
.contacto{
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}
.namebadge{
	height: 50px;
	width: 200px;
	border-radius: 30px;
	background-color: black;
	font-size: 20px;
	align-items: center;
	display: flex !important;
	justify-content: center !important;

}


/*======================================================
	cards Projects settings
=======================================================*/
.container{
	background-color: rgba(255,255,255, .15);
	backdrop-filter: blur(5px);
	margin-top: 20px;
}

.retangulo{	
	padding: none;
	height: 580px;
	width: 120px;
	display: flex;
	justify-content: center !important;
	align-items: center;
	background-color: black;
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 60px;
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	color: white;
	writing-mode: vertical-rl;
	transform: rotate(180deg);
}

button{
	border-radius: 25px !important;
}
.avatar {
	height: 160px;
	width: 190px;
	margin-top: 30px;
	box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;	
	animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
.projectocard1{
	background-color: white;
	height: 580px;
	width: 350px;
	margin-top: 20px; 
	margin-bottom: 20px;
	padding: none;
}
.projectocard1:hover{
	box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	
}
.projectocard2{
	height: 580px;
	width: 350px;
	background-color: #000;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	margin-top: 20px; 
	margin-bottom: 20px;
	padding: 0;

}
.progress{
	background: rgba(255,255,255,0.1);
	justify-content: flex-start;
	border-radius: 100px;
	height: 15px;
	width: 200px;
	position: relative;
}
.progress-value{
	animation: load 3s normal forwards;
	box-shadow: 0 10px 40px -10px #fff;
	border-radius: 100px;
	background: #fff;
	height: 15px;
	width: 0;
}
@keyframes load {
	0% { width: 0; }
	100% { width: 68%; }
  }

.textHeader{
	letter-spacing:-0.05en;
	font-weight: bold;
	font-size: 40px;
	text-transform: uppercase;	
}

.footerCardText{
	font-size: 10px;
	padding: 5px;
	margin-bottom: 20px;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;	
	grid-auto-rows: 225px;
	grid-gap: 10px;
}
.wrapper >div{
	padding: 1em;
}

.centrar{
	/*display: flex;
	align-items: center;*/
	align-items: center;
	text-align: center;
	position: relative;
}



/*=======================================================
	Modal Settings
======================================================*/
p.textoColor{
	color: blue;
}
.modal-body{
	padding: 40px 40px;
}
.modal-xl{
	width: 900px;
}
.spacePadding{
	padding: 0px 40px;
}
.spacePadding2{
	padding: 0px 20px;
}


/*===============================================================
	phone secssion
================================================================*/

@media screen and (max-width: 500px){

	body{
		background: linear-gradient(270deg, #B391C4 0%, rgba(255, 255, 255, 0) 100%), #384573;	
	}
	
	.wrapper{
		margin-top: 20px;
		display: grid;
		grid-template-columns: 345px;
		grid-auto-rows: 400px;
		grid-template-rows: 1.2fr 150px 150px 200px 150px 150px 150px;
		grid-gap: 20px;
		
	}
	.boximage{
		position: relative;
		width: 345px;
		height: 250px;
		background-image: url('img/4.png');
		background-size: 350px;
		grid-row: 1/2;
		
	}
	.formacao{		
		background-color: rgba(255,255,255, .15);
		backdrop-filter: blur(5px);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;
		grid-row: 2/3;
		
	}
	
	.diploma{
		background-color: rgba(255,255,255, .15);
		backdrop-filter: blur(5px);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;				
		grid-row: 3/4;
	}
	
	.sobre{
		background-color: rgba(255,255,255, .15);
		backdrop-filter: blur(5px);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;				
		grid-row: 4/5;
		grid-column: auto;
	}
	.competencia{
		background-color: rgba(255,255,255, .15);
		backdrop-filter: blur(5px);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;
		grid-row: 5/6;
	}
	.contacto{
		background-color: rgba(255,255,255, .15);
		backdrop-filter: blur(5px);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;
		grid-row: 6/7;
	
	}
	.namebadge{
		height: 30px;
		width: 150px;
		border-radius: 30px;
		background-color: black;
		font-size: 20px;
		align-items: center;
		display: flex !important;
		justify-content: center !important;	
	}
	.retangulo{
		height: 80px;
	    width: 200px;	
		background-color: black;
		margin-top: 10px;
		margin-left: 48px;
		padding: 20px;
		font-weight: bold;
		font-size: 50px;
		font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
		color: white;
		writing-mode: horizontal-tb;
		transform: none;
	}

	.projectocard1{
		height: 400px;
		width: 300px ;
		background-color: white;
		color: #000000;
		font-size: 12px;
		align-items: center !important;
		text-align: center !important;
		display: flex !important;
		margin-left: 8px;

	}
	.projectocard2{
		display:none;		
	}
	button{
		border-radius: 25px !important;
	}
	.projectcardstext{
		font-size: 10px;
		padding: 5px;
		margin-bottom: 20px;
		visibility: hidden;
	}
	
	
	
	.textHeader{
		letter-spacing:-0.05en;
		font-weight: bold;
		font-size: 16px;
		text-transform: uppercase;		
	}

	h3{
		font-size: 12px;
	}

	.footerCardText{
		display:none;
	} 	
	.avatar {
		height: 120px;
		width: 140px;
		margin-top: none;
		box-sizing: border-box;
		overflow: hidden;
		animation: none;
	}
	
	.cardper{
		margin-left: 20px;
		text-align: center !important;
		align-items: center !important;
	}
	.rowedit{
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #c4c4c4;
		flex-direction: column;
		padding: 0px;
	}
		
	.modal-xl{
		width: 345px;
	}

}