.navcor{
	background-color: transparent;

}
.rcorners{
	border-radius: 30px 30px 30px 30px;	
}

.navsize{
	height: 40px;
}
.navtextcolor{
	color: black;	
}
.color1{
	background-color: #fdcb6e;
}

.textctype{
	font-weight: bold;
	font-size: 100px;
	color: #444950;	
}
.bodybackground{
	background-color: #ecf0f1;
}

.retangulo{
	
	background-color: black;
	margin-top: 20px;
	font-family: 'Red Hat Display', sans-serif;
	padding: 20px;
	font-weight: bold;
	font-size: 100px;
	font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
	color: white;
}


.retanguloprojeto{
	font-size: 1rem; 
	font-family: "Arial, sans-serif";
	display: flex;
	text-align: center;
	color: black;
	background-color: white;
	letter-spacing: 0px;
}

.roundedbuttons{
	border-radius: 15px ;
}

.projectcards0:hover{
	box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.3);
	
}
.avatar {
	height: 200px;
	width: 240px;
	box-sizing: border-box;
	border: 5px white solid;
	overflow: hidden;	
	animation: float 6s ease-in-out infinite;
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}

.flet1{
	background-color: #ecf0f1;
	display: flex;
	align-items: center;
	font-family: Apple Chancery, cursive;
	font-size: 50px;
}
.flet2{
	display: flex;
	align-items: center;
}

.html{
	scroll-behavior: smooth;
}

.wrapper{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: auto;	
	grid-auto-rows: 225px;
	grid-gap: 1em;
}
.wrapper >div{
	padding: 1em;
}

.img{
  position: relative;
  width: 225px;
  height: 462.02px;
  background-image: url('img/4.png');
  background-size: 500px;
  transform: rotate(0.14deg);
}
.centrar{
	/*display: flex;
	align-items: center;*/
	align-items: center;
	text-align: center;
	position: relative;
}
.box0{
	position: relative;
	width: 210.05px;
	height: 462.02px;
	background-image: url('img/4.png');
	background-size: 500px;
	transform: rotate(0.14deg);
	grid-column: 1/2;
	grid-row: 1/3;
}
.box1{
	
	background-color: #4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}

.box2{
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}

.box3{
	grid-column: 4/5;
	grid-row: 1/3;
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}
.box4{
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}
.box5{
	background-color:#4b4b4b;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	color: white;
	align-items: none;
	text-align: none;
}
.namebadge{
	height: 30px;
	width: 200px;
	border-radius: 30px;
	background-color: black;
	font-size: 20px;
	text-align: center;
	align-items: center;
	

}
.carta1{
	position: absolute;
	height: 895px;
	top: 60px;
	filter: drop-shadow(5px 5px 20px rgba(0,0,0,0.25));
}
.projectcards0{
	background-color: white;
	height: 700px;
	width: 390px;
	margin-top: 20px; 
	margin-bottom: 20px;
	padding: none;
}
.projectcards{
	height: 700px;
	width: 390px;
	background-color:#84817a ;
	color: black;
	display: flex;
	align-items: center;
	text-align: center;
	opacity: 0.4;
	font-weight: bold;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
	margin-top: 20px; 
	margin-bottom: 20px;
	padding: none;

}
.projectcardstext{
	font-size: 10px;
	padding: 5px;
}

.modal-xl{
	width: 1140px;
}
.textoh1{
	letter-spacing:-0.05en;
	font-weight: bold;
	font-size: 40px;
}
.rowedit{
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #c4c4c4;
	flex-direction: row;
	padding: none;
}
/*cardper{
	margin-left: 150px;
	align-items: center;
	text-align: center;
}*/
@media screen and (max-width: 500px){
	.projectcards0{
		height: 600px;
		width: 375px ;
		background-color: white;
		color: #000000;
		font-size: 12px;
		align-items: center !important;
		text-align: center !important;
		display: flex !important;
		padding: 5px;

	}
	.projectcards{
		height: 600px;
		width: 375px;
		background-color: #2d3436;
		color: #000000;
		font-size: 12px;
		align-items: center;
		padding: 5px;

		
	}
	.retangulo{	
		background-color: black;
		margin-top: 10px;
		font-family: 'Red Hat Display', sans-serif;
		padding: 20px;
		font-weight: bold;
		font-size: 50px;
		font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
		color: white;
	}
	.textoh1{
		font-size: 12px;
		font-weight: bold;
	}
	h3{
		font-size: 12px;
	} 
	
	.avatar {
		height: 200px;
		width: 220px;
		box-sizing: border-box;
		overflow: hidden;
	}
	
	
	.cardper{
		margin-left: 20px;
		text-align: center !important;
		align-items: center !important;
	}
	.rowedit{
		margin-top: 20px;
		margin-bottom: 20px;
		background-color: #c4c4c4;
		flex-direction: column;
		padding: 10px;
	}
	.wrapper{
		display: grid;
		grid-template-columns: 345px;
		grid-auto-rows: 345px;
		grid-template-rows: 1.2fr 150px 150px 150px 150px 150px 150px;
		grid-gap: 20px;
	}
	.box0{
		position: relative;
		width: 345px;
		height: 300px;
		background-image: url('img/4.png');
		background-size: 470px;
		transform: rotate(0.14deg);
		grid-row: 1/2;
	}
	.box1{		
		background-color: #4b4b4b;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;
		grid-row: 2/3;
		
	}
	
	.box2{
		background-color:#4b4b4b;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;				
		grid-row: 3/4;
	}
	
	.box3{
		background-color:#4b4b4b;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;				
		grid-row: 4/5;
		grid-column: auto;
	}
	.box4{
		background-color:#4b4b4b;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;
		grid-row: 5/6;
	}
	.box5{
		background-color:#4b4b4b;
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		color: white;
		grid-row: 6/7;
	
	}
}